@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #d3d1c8;
  background: #0c0c0c;
  font-family: Arial, Helvetica, sans-serif;
}

.gradient {
  background: rgb(28,28,28);
background: linear-gradient(0deg, rgba(28,28,28,1) 31%, rgba(28,28,28,0) 79%);
}
